<html>
<head>
    <title>认证用户</title>
    <%= require('html-loader!./layout/head-common.html')%>
</head>
<body>
    <div class = "personal">
        <div class = "backdrop">
            <img src="http://media.zaih.com/FlU5aiJm5LJtNXQkOcbxBU0K2itL!preface">
        </div>
        <div class = "personal_header">
            <img src="http://media.zaih.com/FlIEMDSC5g55Wr_zgQs-SixTp1Ck88!avatar">
        </div>
        <div class ="personal_second">
            <div class = "personal_intro">
                <div class = "personal_name">诸葛思远</div>
                <div class = "personal_intro_datail">
                    <div>知名创投人,</div>
                    <div>清华密大校友,</div>
                    <div>老腾讯人</div>
                </div>
                <!-- <div class = "personal_attr">
                    <div>
                        <div class = "icon icon-clock-solid"></div>
                        <div><span>半天</span内回应></div>
                    </div>
                    <div>
                        <div></div>
                        <div><span>半天</span内回应></div>
                    </div>
                    <div>
                        <div></div>
                        <div><span>半天</span内回应></div>
                    </div>
                </div> -->
                <div class = "personal_address">
                    <div>北京</div>
                    <div>万柳</div>
                    <div>中关村</div>
                    <div>五道口</div>
                    <div>知春路</div>
                </div>

                <div class = "my_answer">
                    我的回答
                </div>  
            </div>

            <!-- <div class = "share">
                分享
                <div class = "weibo">

                </div>
                <div class = "weixin"></div>
            </div> -->

            <div class = "personal_price_add">
                <div class = "personal_price">
                    <div class = "personal_price_header">
                        只需付几元，就可以与行家
                    </div>
                    <div class = "personal_price_answer">一对一提问</div>
                    <div class = "personal_price_intr">为您答疑解惑。不满意还能“无忧退款”。</div>
                    <div class = "personal_answer">码问</div>
                    </div>
                <div class = "personal_ask">
                    立即提问
                </div>
            </div>
        </div>
        
        <!-- <div class = "personal_love">
            <div class = ""></div>
            加入心愿单
        </div> -->
    </div>
    <%= require('html-loader!./layout/footer.html')%>
</body>
</html>