<html>
<head>
    <title>个人中心</title>
</head>
<body>
    <div class = "personal_basis">
        <div class = "personal_basis_image">

        </div>
        <div class = "personal_basis_intr">
            <div class = "personal_image">

            </div>
            <div class = "personal_header">

            </div>
            <div class = "personal_name">
                <div class = "personal_name_content">
                    <div class = "personal_name_content_item">张函<span>web</span></div>
                    <div class = "personal_data">暂无个人资料</div> 
                </div>  
                <div class = "personal_edit">编辑个人资料</div>
            </div>
        </div>

        <div class = "personal_content">
            <div class = "personal_content_section">
                <div class = "personal_content_nav">
                    <div class = "item">动态</div>
                    <div>回答</div>
                    <div>提问</div>
                    <div>收藏</div>
                </div>
            </div>
            <div class = "personal_content_achieve"></div>
        </div>
    </div>
    <%= require('html-loader!./layout/footer.html')%>
</body>
</html>