<link rel="stylesheet" type="text/css" href="http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css">

<div class="footer">
    <div class="w">
        <div class="links">
            <a class = "link" href="http://www.baidu.com" target="_blank">码问</a>  |
            <a class = "link" href="https://www.baidu.com" target="_blank">知乎</a> |
            <a class = "link" href="http://www.baidu.com" target="_blank">分答</a>  |
            <a class = "link" href="http://www.baidu.com" target="_blank">百度知道</a>
        </div>
    </div>
    <p class="copyright">
        Copyright © 2017 shuangqi.com All Right Reserved 
    </p>
</div>

<script type="text/javascript" src = "https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>